RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(\w+)/?$ index.php?file=$1 [QSA]
RewriteRule ^(\w+)/(\w+)/?$ index.php?file=$1&method=$2 [QSA]

#RewriteRule .* core/page_404.php [L]